<!DOCTYPE html>
<html lang="en" data-theme="cyberpunk"> <head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>AllGoal</title>
</head>
<body>
<div class="drawer lg:drawer-open">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />

    <div class="drawer-content flex flex-col">

        <nav class="navbar bg-base-300 shadow-sm">
            <div class="flex-none lg:hidden">
                <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-6 w-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                </label>
            </div>

            <div class="flex-1">
                <a href="/meta/dashboard" class="btn btn-ghost text-xl">
                    <img th:src="@{/images/logo.png}" alt="logo" class="w-50 h-50" />
                </a>
            </div>
            <div class="flex-none">
                <div class="badge badge-soft badge-primary"><span th:text="${user.nivel}"></span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-4 w-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg></div>
                <div class="badge badge-soft badge-secondary"><span th:text="${user.xpTotal}"></span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-4 w-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg></div>
                <div class="badge badge-soft badge-accent"><span th:text="${user.moedas}"></span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block h-4 w-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" /></svg></div>
                <ul class="menu menu-horizontal px-1">
                    <li>
                        <details>
                            <summary>🌎</summary>
                            <ul class="bg-base-100 rounded-t-none p-2 z-50">
                                <li><a href="?lang=pt_BR">🇧🇷</a></li>
                                <li><a href="?lang=en_US">🏴󠁧󠁢󠁥󠁮󠁧󠁿</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </div>
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img alt="avatar do usuário" th:src="${user.avatarUrl}" />
                    </div>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                    <li><a class="justify-between" th:text="${user.nome}"></a></li>
                    <input type="checkbox" value="night" class="toggle theme-controller" />
                    <li>
                        <form th:action="@{/trocar-role}" method="post" class="p-0">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                            <button type="submit" class="w-full text-left flex justify-between items-center p-2" th:text="#{changerole}"></button>
                        </form>
                    </li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div th:if="${message}" role="alert" class="alert alert-success alert-soft m-4">
            <span th:text="${message}"></span>
        </div>
        <div th:if="${error}" role="alert" class="alert alert-error shadow-lg m-4">
            <span th:text="${error}"></span>
        </div>
        <main class="p-4 flex flex-col items-center">
            <div class="hero bg-base-200 mt-8 rounded-lg max-w-4xl">
                <div class="hero-content flex-col lg:flex-row">
                    <img
                            th:src="@{/images/mascote-adm-loja.png}"
                            class="max-w-xs sm:max-w-sm rounded-full shadow-2xl"
                    />
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold" th:text="#{hi} + ' ' + ${user.nome}"></h1>
                        <p class="py-6" th:text="#{shopgestortext}"></p>
                    </div>
                </div>
            </div>
        </main>
        <main class="p-4 flex flex-col items-center">

            <div class="flex justify-between items-left w-full px-4">
                <button class="btn btn-primary" onclick="modal_create_recompensa.showModal()" th:text="#{recompensa.create}"></button>
            </div>

            <div role="tablist" class="tabs tabs-lifted tabs-lg w-full mt-4">

                <input type="radio" id="recomopensas" name="my_tabs" role="tab" class="tab" th:aria-label="#{items}" checked />
                <div role="tabpanel" class="tab-content bg-base-200 border-base-300 rounded-box p-6">

                    <main class=" p-4 flex flex-row flex-wrap justify-center gap-4">
                        <div th:each="recompensa : ${recompensas.content}">
                            <button class="card bg-base-300 w-96 rounded-xl text-left shadow-lg hover:shadow-2xl transition-all"
                                    th:onclick="'document.getElementById(\'modal_' + ${recompensa.idRecompensa} + '\').showModal()'">

                                <div class="badge badge-accent m-4"><span th:text="${recompensa.custoMoedas}"></span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block h-4 w-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" /></svg></div>

                                <div class="card-body items-center">
                                    <h2 th:text="${recompensa.nomeItem}" class="card-title"></h2>
                                    <p class="py-4" th:text="${recompensa.descricao}"></p>
                                    <div class="card-actions justify-end">
                                        <div class="badge badge-outline" th:text="${recompensa.estoque} + ' ' + #{storage2}"></div>
                                    </div>
                                </div>

                            </button>
                            <dialog th:id="'modal_' + ${recompensa.idRecompensa}" class="modal">
                                <div class="modal-box w-11/12 max-w-2xl">
                                    <h3 class="font-bold text-2xl" th:text="${recompensa.nomeItem}"></h3>
                                    <p class="py-4" th:text="${recompensa.descricao}">...</p>
                                    <div class="flex justify-start gap-2">
                                        <div class="badge badge-outline" th:text="${recompensa.estoque} + ' ' + #{storage2}"></div>
                                        <div class="badge badge-outline" th:text="${recompensa.custoMoedas} + ' ' + #{coins}"></div>
                                    </div>

                                    <input type="hidden" name="metaId" th:value="${recompensa.idRecompensa}" />

                                    <div class="modal-action">

                                        <form method="dialog">
                                            <button class="btn" th:text="#{close}"></button>
                                        </form>

                                        <button class="btn btn-primary"
                                                th:text="#{update}"
                                                th:onclick="'modal_update_' + ${recompensa.idRecompensa} + '.showModal()'">
                                        </button>

                                        <form th:action="@{/loja/delete}" method="post">
                                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                            <input type="hidden" name="recompensaId" th:value="${recompensa.idRecompensa}" />
                                            <button type="submit" class="btn btn-outline btn-error" th:text="#{delete}"></button>
                                        </form>
                                    </div>

                                    <form method="dialog">
                                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                    </form>
                                </div>
                            </dialog>
                            <dialog th:id="'modal_update_' + ${recompensa.idRecompensa}" class="modal">
                                <div class="modal-box w-11/12 max-w-2xl">
                                    <h3 class="font-bold text-lg" th:text="#{update}"></h3>

                                    <form th:action="@{/loja/adm/atualizar}" method="post" class="space-y-4 py-4">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                                        <input type="hidden" name="idRecompensa" th:value="${recompensa.idRecompensa}" />

                                        <label class="form-control w-full">
                                            <div class="label"><span class="label-text" th:text="#{item.name}"></span></div>
                                            <input type="text" name="nome" class="input input-bordered w-full" th:value="${recompensa.nomeItem}" required />
                                        </label>

                                        <label class="form-control w-full">
                                            <div class="label"><span class="label-text" th:text="#{description}"></span></div>
                                            <textarea name="descricao" class="textarea textarea-bordered h-24" th:text="${recompensa.descricao}"></textarea>
                                        </label>

                                        <div class="grid grid-cols-2 gap-4">
                                            <label class="form-control w-full">
                                                <div class="label"><span class="label-text" th:text="#{storage}"></span></div>
                                                <input type="number" name="estoque" class="input input-bordered w-full" th:value="${recompensa.estoque}" required />
                                            </label>
                                            <label class="form-control w-full">
                                                <div class="label"><span class="label-text" th:text="#{cost}"></span></div>
                                                <input type="number" name="custo" class="input input-bordered w-full" th:value="${recompensa.custoMoedas}" required />
                                            </label>
                                        </div>

                                        <div class="modal-action">
                                            <button type="submit" class="btn btn-primary" th:text="#{update}"></button>
                                        </div>
                                    </form>

                                    <form method="dialog">
                                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                    </form>
                                </div>
                            </dialog>
                        </div>
                        <div th:replace="~{fragments/pagination :: controls(pageObj=${recompensas}, url='/loja/adm', paramName='pageItens')}"></div>
                    </main>

                </div>

                <input type="radio" id="compra_solicitadas" name="my_tabs" role="tab" class="tab" th:aria-label="#{items.conclued}" />
                <div role="tabpanel" class="tab-content bg-base-200 border-base-300 rounded-box p-6">
                    <main class=" p-4 flex flex-row flex-wrap justify-center gap-4">
                        <div th:each="compra : ${compras.content}" class="card card-border bg-base-300 w-96">
                            <div class="badge badge-accent m-4" th:text="${compra.dataCompra}"></div>
                            <div class="avatar self-center">
                                <div class="w-10 rounded-full">
                                    <img alt="avatar do usuário" th:src="${compra.usuario.avatarUrl}" />
                                </div>
                            </div>
                            <div class="card-body items-center">
                                <h2 th:text="${compra.recompensa.nomeItem}" class="card-title"></h2>
                                <p class="py-4" th:text="${compra.recompensa.descricao}"></p>
                                <div class="card-actions justify-center flex-wrap gap-2">
                                    <div class="badge badge-outline" th:text="${compra.custoPago} + ' ' + #{coins}"></div>
                                    <div class="badge badge-outline" th:text="#{user} + ' ' + ${compra.usuario.nome}"></div>
                                </div>
                                <form th:action="@{/loja/adm/concluir}" method="POST" class="flex-1">
                                    <input type="hidden" name="compraId" th:value="${compra.idCompra}">
                                    <button type="submit" class="btn btn-primary w-full" th:text="#{conclude}"></button>
                                </form>

                            </div>
                            <div class="card-actions justify-end p-2">
                                <span class="badge badge-warning" th:text="${compra.statusCompra}"></span>
                            </div>
                        </div>
                        <div th:replace="~{fragments/pagination :: controls(pageObj=${compras}, url='/loja/adm', paramName='pageSolicitacoes')}"></div>
                    </main>
                </div>
            </div>
            <dialog id="modal_create_recompensa" class="modal">
                <div class="modal-box w-11/12 max-w-2xl">

                    <h3 class="font-bold text-lg" th:text="#{recompensa.create}"></h3>

                    <form th:action="@{/loja/adm/criar}" method="post" class="space-y-4 py-4">

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                        <label class="form-control w-full">
                            <div class="label"><span class="label-text" th:text="#{item.name}"></span></div>
                            <input type="text" name="nome_item" class="input input-bordered w-full" required />
                        </label>

                        <label class="form-control w-full">
                            <div class="label"><span class="label-text" th:text="#{description}"></span></div>
                            <textarea name="descricao" class="textarea textarea-bordered h-24" th:placeholder="#{meta.description.placeholder}"></textarea>
                        </label>

                        <div class="grid grid-cols-2 gap-4">
                            <label class="form-control w-full">
                                <div class="label"><span class="label-text" th:text="#{storage}"></span></div>
                                <input type="number" name="estoque" value="10" class="input input-bordered w-full" required />
                            </label>
                            <label class="form-control w-full">
                                <div class="label"><span class="label-text" th:text="#{cost}"></span></div>
                                <input type="number" name="custo_moedas" value="100" class="input input-bordered w-full" required />
                            </label>
                        </div>

                        <div class="modal-action">
                            <button type="submit" class="btn btn-primary" th:text="#{create}"></button>
                        </div>
                    </form>

                    <form method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                </div>
            </dialog>
        </main>
    </div>
    <div class="drawer-side">
        <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>

        <ul class="menu bg-base-200 min-h-full w-64 p-4">

            <li>
                <a href="/meta/dashboard">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                    </svg>
                    <span th:text="#{dashboard}"></span>
                </a>
            </li>

            <li th:if="${user.role.name() == 'FUNCIONARIO'}">
                <a href="/meta">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                    </svg>
                    <span th:text="#{goals}"></span>
                </a>
            </li>

            <li th:if="${user.role.name() == 'FUNCIONARIO'}">
                <a href="/loja">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                    </svg>
                    <span th:text="#{shop}"></span>
                </a>
            </li>

            <li th:if="${user.role.name() == 'FUNCIONARIO'}">
                <a href="/loja/inventario">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
                    </svg>
                    <span th:text="#{storage}"></span>
                </a>
            </li>

            <li>
                <a href="/ranking">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z" />
                    </svg>
                    <span th:text="#{ranking}"></span>
                </a>
            </li>

            <li>
                <a href="/chat">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                    </svg>
                    <span th:text="#{chatall}"></span>
                </a>
            </li>

            <li th:if="${user.role.name() == 'ADMIN'}">
                <a href="/meta/adm">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 0 0 2.25-2.25V6.75a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 6.75v10.5a2.25 2.25 0 0 0 2.25 2.25Zm.75-12h9v9h-9v-9Z" />
                    </svg>
                    <span th:text="#{admetas}"></span>
                </a>
            </li>

            <li th:if="${user.role.name() == 'ADMIN'}">
                <a href="/loja/adm">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                    </svg>
                    <span th:text="#{admrecompensas}"></span>
                </a>
            </li>

        </ul>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const storageKey = "activeTab_" + window.location.pathname;
        const savedTabId = localStorage.getItem(storageKey);

        if (savedTabId) {
            const tabToSelect = document.getElementById(savedTabId);
            if (tabToSelect) {
                tabToSelect.checked = true;
            }
        }

        const tabs = document.querySelectorAll('input[name="my_tabs"]');
        tabs.forEach(tab => {
            tab.addEventListener('change', function() {
                localStorage.setItem(storageKey, this.id);
            });
        });
    });
</script>

</body>
</html>